<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yt.bishe.dao.EchartsDao">

    <resultMap type="com.yt.bishe.utils.Echarts" id="bookMap">
        <!-- property对应实体类的属性名称，column为数据库结果集的列的名称 -->
        <id property="mainId" column="id" />
        <result property="value" column="sales"/>
        <result property="mainName" column="book_name"/>
        <result property="cId" column="shop_id"/>
        <result property="cName" column="shop_name"/>
    </resultMap>

    <resultMap type="com.yt.bishe.utils.Echarts" id="ordersMap" >
        <id property="mainId" column="c_time" />
        <result property="value" column="sales"/>
    </resultMap>


    <select id="getBooks" resultMap="bookMap">
        select b.id,b.sales,b.book_name,s.shop_name from book b left join shop s on b.shop_id = s.id ORDER BY sales DESC LIMIT 5
    </select>

    <select id="getSalesInDay" resultMap="ordersMap">
        SELECT DATE_FORMAT(t1.createtime,'%m-%d-%Y') AS c_time,COUNT(*) AS sales FROM
            (select c.id,c.count,c.p_order_id,c.book_id,o.order_id,o.createtime AS createtime from chidorder c left join orderinfo o on o.order_id = c.p_order_id WHERE o.paystate != '0')
                AS t1
        GROUP BY DATE_FORMAT(t1.createtime,'%m-%d-%Y')
    </select>

</mapper>