<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yt.bishe.dao.ShopDao">
    <resultMap type="com.yt.bishe.entity.Shop" id="shopMap">
        <!-- property对应实体类的属性名称，column为数据库结果集的列的名称 -->
        <id property="shopId" column="id" />
        <result property="shopName" column="shop_name"/>
        <result property="contact" column="contact"/>
        <result property="address" column="address"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <update id="updateShopInfo" parameterType="Shop">
        update shop set shop_name=#{shopName},contact=#{contact},address=#{address} where id=#{shopId}
    </update>

    <insert id="insertShopInfo" parameterType="Shop">
        INSERT INTO shop(id,shop_name,contact,address,user_name)
        VALUES(#{shopId},#{shopName},#{contact},#{address},#{userName})
    </insert>

    <select id="selectShopInfoByshopId" resultMap="shopMap">
        select * from shop where id = #{shopId}
    </select>

    <select id="selectShopInfo" resultMap="shopMap" parameterType="String">
        select * from shop where user_name = #{userName}
    </select>
</mapper>